@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 5px;
  cursor: default;
}

.nav {
  position: fixed;
  background-color: transparent;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 999;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}

.nav ul {
  padding: 15px;
  /* margin: 20px 20px 30px 16px; */
  list-style: none;
  display: flex;
  font-size: 15px;
  border-radius: 50px;
  box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.2);
  gap: 10px;
  background-color: #ffffff;
}

.nav a {
  text-decoration: none;
  color: black;
  transition: background-color 0.7 ease;
}

.nav a:hover {
  color: #14b9ff;
  font-weight: bold;
}

.footer_info {
  background-color: #333;
  color: #fff;
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
